.login-form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .login-form nz-form-item {
    margin-bottom: 16px;
  }
  
  .login-form nz-form-control {
    width: 50%;
  }
  
  .login-form button {
    width: 50%;
  }
  