<div class="bg" style="background-color: #f8f8f8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="img-Div">
                    <div nz-col nzSpan="24">
                        <h1 style="margin-left: 100px;">Login</h1>
                    </div>  
                </div>
            </div>
        </div>
    </nz-spin>
 </div>   


<form nz-form [formGroup]="signupForm">
    <nz-form-item>
      <nz-form-control nzHasFeedback nzErrorTip="The input is not Email id">
        <input nz-input placeholder="email" id="email" formControlName="email">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
          <input nz-input placeholder="Password" type="password" id="password"  formControlName="password"/>
          <ng-template #errorPass let-control>
                <ng-container *ngIf="control.hasError('required')">
                Password is required!
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                        Password should Contains 8 Character,1 Lowercase,1 Uppercase,1 Number and 1 Special Character                  </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="errorTp1">
          <input nz-input type="password" placeholder="Confirm Password"  id="checkpassword"  formControlName="confirmpassword"/>
          <ng-template #errorTp1 let-control>
                <ng-container *ngIf="control.hasError('required')">
               Please Enter Confirm Password
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                    Two Password that you enter is inconsistent
                    </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
  


      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="usererrorTp1">
          <input nz-input type="text" placeholder="Name"  id="username" formControlName="name" />
          <ng-template #usererrorTp1 let-control>
                <ng-container *ngIf="control.hasError('required')">
               Please Enter User Name
                </ng-container>
             
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button login-form-margin" nzType="primary" 
        type="submit" (click)="signup()" [disabled]="signupForm.invalid">Register</button>
        Or  <a routerLink="/login">login now !</a>
      </nz-form-control>
    </nz-form-item>
  </form>
  