.custom-navbar
{
    background-color: #003973;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.navbar-title
{
    >a{
        color: white !important;
        font-weight: bolder;
        font-size: 25px;
    }
}

.nav-links
{
    >a{
        color: white !important;
        font-style: italic;
        font-size: 15px;
        justify-content: space-between;
        padding: 10px;
    }
}